/* colors */  

$red: rgb(255, 67, 67);
$darkred: rgb(231, 20, 20);
$reda: rgba(255, 67, 67, 0.8);
$darkreda: rgba(185, 12, 12, 0.8);
$white: rgb(255, 255, 255);
$gray: rgb(186, 187, 197);
$black: rgb(45, 48, 51);
$blue: rgb(53, 60, 101);
$darkblue: rgb(44, 49, 84);
$darkgray: rgb(128, 128, 128);
$purple:  rgb(92, 50, 73);